<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout.html}">

<head>
    <title>상품 상세</title>
</head>

<body>

<div layout:fragment="content">

    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <img class="bd-placeholder-img card-img-top" width="100%" height="500"
                     th:src="'data:image/jpeg;base64,'+${response.image}" alt="..." />
                <!--      <img class="img-fluid" src="https://via.placeholder.com/750x500" alt="">-->
            </div>

            <div class="col-md-4">
                <h3 th:text="'이름: ' + ${response.name}" class="my-3">상품 이름</h3>
                <h4 th:text="'가격: ' + ${#numbers.formatDecimal(response.price, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">
                    가격</h4>
                <h3 class="my-3">상세설명</h3>
                <ul>
                    <li th:text="'재고: ' + ${response.stock} + ' 개'">재고</li>
                    <li th:text="'설명: ' + ${response.description}">설명</li>
                </ul>

                <!-- <form method="post"> -->
                <!-- <input type="hidden" name="id" id="id" th:value="${response.id}"/> -->
                <div class="col-6 d-flex">
                    <a class="btn btn-link px-2"
                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </a>

                    <input id="quantity" min="1" th:max="${response.stock}" name="quantity" value="1" type="number"
                           class="form-control form-control-sm" />
                    <a class="btn btn-link px-2"
                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <hr>

                <button type="button" class="btn btn-outline-dark" id="addToCart">
                    <i class="fas fa-shopping-cart"></i>
                    장바구니
                </button>
                <button type="button" class="btn btn-outline-dark" id="orderNow">
                    <i class="fas fa-cash-register"></i>
                    바로구매
                </button>
            </div>
        </div>

        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>
        </div>
    </div>

    <script>
            // window.addEventListener('load', (e) => {
            // const addToCart =
            // const orderNow = document.getElementById('orderNow');

            document.getElementById('addToCart').addEventListener('click', (e) => {
                // e.preventDefault();

                let quantity = document.getElementById('quantity').value;
                let id = '[[${response.id}]]';

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        quantity,
                        id
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                };
                const onSuccess = res => {
                    res.json()
                        .then(() => {
                            if (confirm("장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?")) {
                                window.location.replace('http://localhost:8080/cart')
                            }
                        })
                }
                const onFailure = res => {
                    return res.json()
                        // .then(json => confirm(json.message));
                        .then(() => {
                            if (confirm("이미 장바구니에 상품이 존재합니다. 장바구니로 이동하시겠습니까?")) {
                                window.location.replace('http://localhost:8080/cart')
                            }
                        })


                }

                fetch(`/api/v1/cart/add`, data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        console.log(err.message);
                    });
            })
        // })

        </script>

</div>
<!--End of Content-->
</body>

</html>