<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/form.html}">
<head>
    <title>로그인</title>

    <link href="../css/signin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
    .font01 {
        font-family: 'Noto Sans KR', sans-serif;
      }


    </style>

</head>

<body class="text-center font01" layout:fragment="content">
<main class="form-signin w-100 m-auto">
    <form method="post" th:action="@{/auth/login}">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            이메일이나 비밀번호가 일치하지 않습니다
        </div>
        <a href="/">
            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        </a>
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <div class="form-floating">
            <input type="email" th:if="${param.error}" th:value="${username}" name="username" class="form-control" id="floatingInputError" placeholder="name@example.com">
            <input type="email" th:unless="${param.error}" th:value="${username}" name="username" class="form-control" id="floatingInput" placeholder="name@example.com"
                   autofocus>
            <label for="floatingInput">이메일</label>
        </div>
        <div class="form-floating">
            <input type="password" th:if="${param.error}" name="password" class="form-control" id="floatingPasswordError" placeholder="Password" autofocus>
            <input type="password" th:unless="${param.error}" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">비밀번호</label>
        </div>


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me" value="remember-me"> 로그인 유지
            </label>
            <a class="small" href="/auth/forgot-password">비밀번호 찾기</a>
            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        </div>
    </form>
    <hr>
    <div class="row position-relative">
        <div class="col-6">
            <form class="user" method="post" th:action="@{/auth/login}">
                <input type="hidden" name="username" value="user@role"/>
                <input type="hidden" name="password" value="role123123"/>
                <input type="hidden" name="remember-me" value="remember-me" th:checked="true">
                <button type="submit" class="btn btn-warning btn-user btn-block">
                    <i class="fas fa-user"></i>
                    DEMO USER
                </button>
            </form>
        </div>
        <div class="col-6">
            <form class="user" method="post" th:action="@{/auth/login}">
                <input type="hidden" name="username" value="admin@role"/>
                <input type="hidden" name="password"
                       value="$2a$12$vAfYdOjIZhkKWCX0KzjsVeL8au1Opf56dkL56LjP5ua9ZsCUi65x6"/>
                <input type="hidden" name="remember-me" value="remember-me" th:checked="true">
                <button type="submit" class="btn btn-danger btn-user btn-block">
                    <i class="fas fa-user-graduate"></i>
                    DEMO ADMIN
                </button>
            </form>
        </div>
    </div>
        <div class="row mt-3">
            <div class="col-6">
                <form class="user" method="post" th:action="@{/auth/login}">
                    <input type="hidden" name="username" value="seller@role"/>
                    <input type="hidden" name="password"
                           value="seller123123"/>
                    <input type="hidden" name="remember-me" value="remember-me" th:checked="true">
                    <button type="submit" class="btn btn-success btn-user btn-block">
                        <i class="fas fa-user-tie"></i>
                        DEMO SELLER
                    </button>
                </form>
            </div>
            <div class="col-6">
                <form class="user" method="post" th:action="@{/auth/login}">
                    <input type="hidden" name="username" value="role@seller"/>
                    <input type="hidden" name="password"
                           value="seller123123"/>
                    <input type="hidden" name="remember-me" value="remember-me" th:checked="true">
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        <i class="fas fa-chart-user"></i>
                        임시버튼
                    </button>
                </form>
            </div>


    </div>
    <hr>
    <div class="text-center">
        <a class="small" href="/auth/signup">회원가입</a>
    </div>

    <hr>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</main>

</body>
</html>
