<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>비밀번호 입력</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>새로운 비밀번호를 입력해주세요</h1>

        <form method="post" th:action="@{/auth/reset}" th:object="${userValidationRequest}">

            <div class="form-floating">
                <input type="hidden" id="email" th:field="*{email}" th:value="${email}">
                <input type="password" th:field="*{password}" name="password" class="form-control" id="Password" placeholder="Password">
                <label for="Password">비밀번호</label>
            </div>
            <div class="form-floating">
                <input type="password" th:field="*{repeatPassword}" name="password" class="form-control" id="repeatPassword" placeholder="Password">
                <label for="repeatPassword">비밀번호 확인</label>
            </div>
            <div class="text-center" th:if="${#fields.hasErrors('password')}">
                <hr>
                <p class="alert alert-danger" role="alert"
                   th:errors="*{password}">비밀번호가 올바르지 않습니다.</p>
            </div>


                <button class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 변경</button>
        </form>
    </div>

</div>

</body>
</html>