<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>회원가입</title>
</head>
<body class="bg-gradient-primary">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
<!--                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
<!--                <div class="col-lg-7">-->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                        </div>
                        <form class="user" method="post" th:action="@{/auth/signup}" th:object="${signupRequest}">
                            <div class="form-group row">
<!--                                <div class="col-sm-6 mb-3 mb-sm-0">-->
                                <!--                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"-->
<!--                                           placeholder="First Name">-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <input type="text" class="form-control form-control-user" id="exampleLastName"-->
<!--                                           placeholder="Last Name">-->
<!--                                </div>-->
                            </div>
                            <div class="form-group">
                                <input th:field="*{email}" type="email" class="form-control form-control-user" id="InputEmail"
                                       placeholder="이메일 주소">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{password}" type="password" class="form-control form-control-user"
                                           id="InputPassword" placeholder="비밀번호">
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{repeatPassword}" type="password" class="form-control form-control-user"
                                           id="RepeatPassword" placeholder="비밀번호 재입력">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">회원가입</button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> 구글로 로그인
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> 페이스북으로 로그인
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/auth/forgot-password">비밀번호를 잊으셨나요?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/auth/login">로그인하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>