<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content">
    <div class="bg-gradient-primary">
        <div class="container col-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="p-5">
                            <div class="text-center">
                                <a th:href="@{/}">
                                    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72"
                                         height="57">
                                </a>
                                <h4 class="mb-4">회원가입</h4>
                            </div>
                            <form method="post" th:action="@{/auth/signup}" th:object="${userValidationRequest}">
                                <div class="input-group mb-3">
                                    <input th:field="*{email}" type="email" class="form-control form-control-user"
                                           id="InputEmail"
                                           placeholder="이메일 주소" required autofocus>
                                    <div class="text-center" th:if="${#fields.hasErrors('email')}">
                                        <hr>
                                        <p class="alert alert-danger" role="alert"
                                           th:errors="*{email}">이메일 주소가 올바르지 않습니다.</p>
                                    </div>
                                </div>
                                <div class="input-group mb-3 row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input th:field="*{password}" type="password"
                                               class="form-control form-control-user"
                                               id="InputPassword" placeholder="비밀번호">
                                    </div>
                                    <div class="col-sm-6">
                                        <input th:field="*{repeatPassword}" type="password"
                                               class="form-control form-control-user"
                                               id="RepeatPassword" placeholder="비밀번호 재입력"
                                               pattern="^[A-Za-z[0-9]]{10,20}$" required>
                                    </div>
                                </div>

                                <div class="text-center" th:if="${#fields.hasErrors('password')}">
                                    <hr>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="*{password}">비밀번호가 올바르지 않습니다.</p>
                                </div>
                                <div class="d-grid gap-2 col-4 mx-auto">
                                <button type="submit" class="btn btn-outline-success btn-lg">회원가입</button>
                                </div>

                                <div class="text-center mt-3">
                                <a href="index.html" class="btn btn-outline-danger">
                                    <i class="fab fa-google fa-fw"></i> 구글로 로그인
                                </a>
                                <a href="index.html" class="btn btn-outline-primary">
                                    <i class="fab fa-facebook-f fa-fw"></i> 페이스북으로 로그인
                                </a>
                                </div>
                            </form>
                            <div class="text-center mt-3">
                                <a class="btn" href="/auth/forgot-password">비밀번호를 잊으셨나요?</a>
                                <a class="btn" href="/auth/login">로그인하기</a>
                                <a class="btn" href="/auth/seller-signup">판매자로 회원가입하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>