<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>주문조회</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:replace="me/me-navbar :: me-navbar"></div>
        <br>
        <!--본문 들어갈 곳-->
        <div class="container position-relative">
            <br>
            <label for="itemDetail">상품 정보</label>
            <table class="table" id="itemDetail">
                <thead>
                <tr>
                    <th scope="col">주문일</th>
                    <th scope="col">판매자</th>
                    <th scope="col"></th>
                    <th scope="col">상품명</th>
                    <th scope="col">개수</th>
                    <th scope="col">개당 가격</th>
<!--                    <th scope="col">배송비</th>-->
                    <th scope="col">진행 정보</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="orderItem : ${orderDetailResponse.orderItemResponses}">
                        <td th:text="${#temporals.format(orderItem.orderDate, 'yyyy-MM-dd HH:mm')}">주문날짜</td>
                        <td th:text="${orderItem.sellerCompanyName}">판매자</td>

                        <td style="width: 6rem;"><img class="bd-placeholder-img card-img-top img-fluid" width="100%"
                                                      height="100%"
                                                      th:src="'data:image/jpeg;base64,'+${orderItem.mainImage}" alt="..."/></td>
                        <td th:text="${orderItem.itemName}">주문내역</td>
                        <td th:text="${orderItem.quantity}">개수</td>
                        <td th:text="${#numbers.formatDecimal(orderItem.itemPrice, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">개당 가격</td>
<!--                        <td th:text="${orderItem.quantity}">배송비</td>-->
                        <td th:text="${orderItem.quantity}">진행 정보</td>
                    </tr>
                </tbody>
            </table>

            <label for="paymentDetail">결제 정보</label>
            <table class="table" id="paymentDetail">
                <thead>
                <tr>
                    <th scope="col">결제사</th>
                    <th scope="col">결제 방법</th>
                    <th scope="col">상품가격</th>
                    <th scope="col">배송가격</th>
                    <th scope="col">총액</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:with="paymentDetail = ${orderDetailResponse.paymentDetailResponse}">
                        <td th:text="${paymentDetail.pg}">결제사</td>
                        <td th:text="${paymentDetail.payMethod}">결제 방법</td>
                        <td th:text="${#numbers.formatDecimal(paymentDetail.paymentTotalPrice, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">상품가격</td>
                        <td th:text="${#numbers.formatDecimal(paymentDetail.paymentTotalShippingFee, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">배송가격</td>
                        <td th:text="${#numbers.formatDecimal(paymentDetail.paymentTotalPrice + paymentDetail.paymentTotalShippingFee, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">총액</td>
                    </tr>
                </tbody>
            </table>


            <label for="buyerDetail">구매자 정보</label>
            <table class="table" id="buyerDetail">
                <thead>
                <tr>
                    <th scope="col">성명</th>
                    <th scope="col">주소</th>
                    <th scope="col">이메일</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr th:with="buyerDetail = ${orderDetailResponse.paymentDetailResponse}">
                            <td th:text="${buyerDetail.buyerName}">성명</td>
                            <td th:text="${buyerDetail.buyerAddr}">주소</td>
                            <td th:text="${buyerDetail.buyerEmail}">이메일</td>
                            <td th:text="${buyerDetail.buyerTel}">전화번호</td>
                        </tr>
                    </tbody>
                </tbody>
            </table>

            <label for="receiverDetail">수취자 정보</label>
            <table class="table" id="receiverDetail">
                <thead>
                <tr>
                    <th scope="col">성명</th>
                    <th scope="col">주소</th>
                    <th scope="col">이메일</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr th:with="receiverDetail = ${orderDetailResponse.paymentDetailResponse}">
                            <td th:text="${receiverDetail.receiverName}">성명</td>
                            <td th:text="${receiverDetail.receiverAddress}">주소</td>
                            <td th:text="${receiverDetail.receiverEmail}">이메일</td>
                            <td th:text="${receiverDetail.receiverPhoneNumber}">전화번호</td>
                        </tr>
                    </tbody>
                </tbody>
            </table>


            취소환불정보(있을시)
        </div>
    </div>
    <script>
        function goToOrderDetail(id) {
            window.location.href="/me/order/detail/" + id;
        }


    </script>
</div>
</body>
</html>