<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div>
        <h1>주문 상세 정보</h1>
    </div>
        <div class="container position-relative">
            <a type="button" href="me/update" class="btn btn-primary mt-3">개인정보 수정</a>

            <a type="button" href="me/zzim" class="btn btn-primary mt-3">찜목록</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">주문조회</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">취소/교환/반품 내역</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">나의 리뷰</a>

            <table class="table">
                <h5>주문 상품 정보</h5>
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">제품</th>
                    <th scope="col">주문내역</th>
                    <th scope="col">배송상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" style="cursor:pointer;" th:onclick="|goToOrderDetail('${order.id}');|">
                    <td style="width: 6rem;"><img class="bd-placeholder-img card-img-top img-fluid" width="100%" height="100%"
                                                  th:src="'data:image/jpeg;base64,'+${order.mainImage}" alt="..." /></td>
                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}">옵션</td>
                    <td th:text="${order.name}">주문내역</td>
                    <td th:text="${order.deliveryStatus}">배송상태</td>
                    <td th:text="${order.merchantUid}">주문번호</td>
                    <td th:text="${order.amount}">결제금액</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function goToOrderDetail(id) {
            window.location.href="/me/order/detail/" + id;
        }
    </script>
</div>
</body>
</html>