<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>주문조회</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:replace="me/me-navbar :: me-navbar"></div>
        <br>
        <!--본문 들어갈 곳-->
        <div class="container position-relative">
            상품정보 구매자정보 결제정보 취소환불정보(있을시)
            <br>
            <label for="recentOrders">상품 정보</label>
            <table class="table" id="recentOrders">
                <thead>
                <tr>
                    <th scope="col">주문일</th>
                    <th scope="col"></th>
                    <th scope="col">상품명</th>
                    <th scope="col">진행 정보</th>
                    <th scope="col">결제금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" style="cursor:pointer;" th:onclick="|goToOrderDetail('${order.id}');|">
                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}">주문날짜</td>
                    <td style="width: 6rem;"><img class="bd-placeholder-img card-img-top img-fluid" width="100%"
                                                  height="100%"
                                                  th:src="'data:image/jpeg;base64,'+${order.mainImage}" alt="..."/></td>
                    <td th:text="${order.name}">주문내역</td>
                    <td th:text="${order.deliveryStatus}">배송상태</td>
                    <td th:text="${order.merchantUid}">주문번호</td>
                    <td th:text="${#numbers.formatDecimal(order.amount, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">결제금액</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function goToOrderDetail(id) {
            window.location.href="/me/order/detail/" + id;
        }


    </script>
</div>
</body>
</html>