<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/layout.html}">

<head>
    <title>개인정보동의</title>
</head>

<body>

    <div layout:fragment="content">
        <div class="container">
            <div th:replace="me/me-navbar :: me-navbar"></div>

            <div>
                <h1 class="text-danger">해당 페이지는 어떠한 법적 효력이 없는 데모용입니다.</h1>
                <h1>개인 정보 동의</h1>
            </div>
            <br>

            <div class="alert alert-danger" role="alert" th:if="${message}">
                <span class="mt-3" th:text="${message}"></span>
            </div>

            <!--본문 들어갈 곳-->
            <h5>
                <span th:text="${user.getEmail()}"></span> 님의 개인 정보 동의
            </h5>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="isMandatoryCheck" required>
                <label class="form-check-label" for="isMandatoryCheck">
                    개인정보 수집 및 이용 동의 <strong>(필수)</strong>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="isMarketingCheck">
                <label class="form-check-label" for="isMarketingCheck">
                    광고 및 이벤트 목적의 개인정보 수집 및 이용 동의 (선택)
                </label>
            </div>
            <br>
            <button id="agree-button" class="btn btn-primary">약관 동의하고 가입하기</button>
        </div>
        <script>
            window.addEventListener('load', (e) => {
                const agreeButton = document.getElementById('agree-button');

                agreeButton.addEventListener('click', (e) => {
                    // e.preventDefault();

                    let isMandatoryAgree = document.getElementById('isMandatoryCheck').checked;
                    let isMarketingAgree = document.getElementById('isMarketingCheck').checked;

                    let agreeData = {
                        method: 'POST',
                        body: JSON.stringify({
                            isMandatoryAgree,
                            isMarketingAgree
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    };

                    const onSuccess = res => {
                        window.location.replace(baseUrl + 'me/update')
                    }
                    const onFailure = res => {
                        return res.json().then(json => alert(json.message));
                    }

                    fetch(baseApi + `/privacy/agree`, agreeData)
                        .then(res => {
                            if (!res.ok) {
                                throw res;
                            }
                            return res
                        })
                        .then(onSuccess, onFailure)
                        .catch(err => {
                            alert(err.message);
                        });
                })
            })
        </script>
    </div>
</body>
<script>






    // fetch("http://localhost:8080/me/privacy/agree", {
    //     method: "POST",
    //     headers: {
    //         "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify({

    //     })
    // })
</script>

</html>