<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/layout.html}">

<head>
    <title>장바구니</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">


                            <h3 class="fw-normal mb-0 text-black">장바구니
                                <span class="badge bg-primary rounded-pill">
                                    <span id="totalQuantity" th:text="${totalQuantity}"></span>
                                </span>
                            </h3>
                            <div>
                                <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                        class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${message}">
                            <span th:text="${message}"></span>
                            <form action="/me/privacy" method="post">
                                </br>
                                <button type="submit" class="btn btn-primary">개인정보 입력하러 가기</button>
                            </form>
                        </div>

                        <div class="container text-center" th:if="${#lists.isEmpty(items)}">
                            <h3>장바구니가 비어있습니다</h3>
                            <a class="text-dark" th:href="@{/}"><i class="fas fa-home fa-4x"></i></a>
                        </div>

                        <th:block th:each="item : ${items}">
                            <div class="card rounded-3 mb-2" th:id="${item.itemId}">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">

                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">

                                            <img class="bd-placeholder-img card-img-top" width="100%" height="100"
                                                 th:src="'data:image/jpeg;base64,'+${item.image}"
                                                 alt="..."/>
<!--                                                                                <img-->
                                            <!--                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"-->
                                            <!--                                            class="img-fluid rounded-3" alt="Cotton T-shirt">-->
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <!--                                            <div th:id="${item.itemId}" th:text="${item.itemId}" hidden></div>-->
                                            <a th:href="@{'/item/details/' + ${item.itemId}}"
                                                class="text-reset text-decoration-none">
                                                <p class="lead fw-normal mb-2" th:text="${item.name}">이름</p>
                                            </a>
                                            <input type="hidden" th:value="${item.optionId}">
                                            <p><span class="text-muted">옵션1: </span>
                                                <span th:text="${item.option1}"></span>
                                                <span class="text-muted">옵션2:</span>
                                                <span th:text="${item.option2}"></span>
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <h5 class="mb-0" th:id="'eachPrice' + ${item.itemId}"
                                                th:text="${#numbers.formatDecimal(item.price, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                                개당 가격</h5>
                                            <h5>원 </h5>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <a class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                            <input th:id="'quantity' + ${item.itemId}" min="1" name="quantity"
                                                th:value="${item.quantity}" type="number"
                                                class="form-control form-control-sm" />
                                            <a class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <h5 class="mb-0" th:id="'multipliedPrice' + ${item.itemId}"
                                                th:text="${#numbers.formatDecimal(item.price * item.quantity, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                                합산 가격</h5>
                                            <h5>원 </h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" th:id="'updateButton' + ${item.itemId}"
                                                th:onclick="|updateItem('${item.itemId}', '${item.optionId}');|" class="text-success mr-2"><i
                                                    class="fas fa-redo-alt fa-lg"></i></a>
                                            <a href="#!" th:id="'deleteButton' + ${item.itemId}"
                                                th:onclick="|deleteItem('${item.itemId}');|" class="text-danger"><i
                                                    class="fas fa-trash fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>

<!--                        <div class="card rounded-3 mb-4">-->
<!--                            <div class="card-body p-4">-->
<!--                                <div class="row d-flex justify-content-between align-items-center">-->
<!--                                    <div class="col-md-2 col-lg-2 col-xl-2">-->
<!--                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"-->
<!--                                            class="img-fluid rounded-3" alt="Cotton T-shirt">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-lg-3 col-xl-3">-->
<!--                                        <p class="lead fw-normal mb-2">Basic T-shirt</p>-->
<!--                                        <p><span class="text-muted">Size: </span>M <span class="text-muted">Color:-->
<!--                                            </span>Grey</p>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">-->
<!--                                        <a class="btn btn-link px-2"-->
<!--                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-->
<!--                                            <i class="fas fa-minus"></i>-->
<!--                                        </a>-->

<!--                                        <input id="form123" min="0" name="quantity" value="2" type="number"-->
<!--                                            class="form-control form-control-sm" />-->

<!--                                        <a class="btn btn-link px-2"-->
<!--                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">-->
<!--                                            <i class="fas fa-plus"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">-->
<!--                                        <h5 class="mb-0">$499.00</h5>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">-->
<!--                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="card mb-4">
                            <div class="card-body p-4 d-flex flex-row">
                                <div class="col-1">
                                </div>
                                <div class="col-3">
                                    <h4>상품가격 <br><span id="totalProductPrice"
                                            th:text="${#numbers.formatDecimal(totalPrice, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                        </span> 원</h4>
                                </div>
                                <div class="col-1">
                                    <h4><i class="fas fa-plus"></i></h4>
                                </div>
                                <div class="col-2">
                                    <h4>배송비 <br> <th:block th:if="${totalPrice} < 30000" th:text="'3,000'"></th:block>
                                        <th:block th:unless="${totalPrice} < 30000" th:text="'0'"></th:block> 원
                                    </h4>
                                </div>
                                <div class="col-1">
                                    <h4><i class="fas fa-equals"></i></h4>
                                </div>
                                <div class="col-3">
                                    <h4>총 가격 <br> <span class="text-primary" id="totalPrice"
                                            th:text="${#numbers.formatDecimal(totalPrice, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                            <!-- <th:block th:if="${totalPrice} < 30000"
                                                th:text="${#numbers.formatDecimal(totalPrice + 3000, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                            </th:block>
                                            <th:block th:unless="${totalPrice} < 30000"
                                                th:text="${#numbers.formatDecimal(totalPrice, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                            </th:block> -->

                                        </span> 원</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <a type="button" th:href="@{/order/process}"
                                    class="btn btn-warning btn-block btn-lg" id="order">주문하기</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script>
            document.getElementById('order').addEventListener('click', (e) => {
                if (document.getElementById('totalQuantity').textContent == 0) {
                    alert('장바구니가 비어있습니다')
                    e.preventDefault();
                }
            })
            function deleteItem(id) {

                const quantity = document.getElementById('quantity' + id).value;
                let totalPrice = document.getElementById('totalPrice').textContent;
                totalPrice = parseInt(totalPrice.replace(/,/g, ""));
                let totalQuantity = document.getElementById('totalQuantity').textContent;
                totalQuantity = parseInt(totalQuantity.replace(/,/g, ""));

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        id,
                        quantity,
                        totalPrice
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                const onSuccess = res => {
                    res.json()
                        .then(data => {
                            document.getElementById('totalPrice').innerHTML = data.totalPrice.toLocaleString();
                            document.getElementById('totalProductPrice').textContent = data.totalPrice.toLocaleString();
                            document.getElementById('totalQuantity').textContent = data.totalQuantity.toLocaleString();
                            document.getElementById('cartAmount').textContent = data.totalQuantity.toLocaleString();
                            document.getElementById(id).remove();
                            alert('상품이 삭제되었습니다');
                        });
                }
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                }

                fetch(`/api/v1/cart/delete`, data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
            }

            function updateItem(itemId, optionId) {

                const quantity = document.getElementById('quantity' + itemId).value;
                let totalPrice = document.getElementById('totalPrice').textContent;
                totalPrice = parseInt(totalPrice.replace(/,/g, ""));
                let totalQuantity = document.getElementById('totalQuantity').textContent;
                totalQuantity = parseInt(totalQuantity.replace(/,/g, ""));

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        itemId,
                        optionId,
                        quantity,
                        totalPrice,
                        totalQuantity
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                const onSuccess = res => {
                    res.json()
                        .then(data => {
                            document.getElementById('totalPrice').innerHTML = data.totalPrice.toLocaleString();
                            document.getElementById('multipliedPrice' + id).innerHTML = data.multipliedPrice.toLocaleString();
                            document.getElementById('totalProductPrice').textContent = data.totalPrice.toLocaleString();
                            document.getElementById('totalQuantity').textContent = data.totalQuantity.toLocaleString();
                            document.getElementById('cartAmount').textContent = data.totalQuantity.toLocaleString();
                        });
                };
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                };

                fetch(`/api/v1/cart/update`, data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
            }
        </script>
    </div>
    <!--End of Content-->
</body>

</html>