<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/layout.html}">

<head>
    <title>장바구니</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">


                            <h3 class="fw-normal mb-0 text-black">장바구니
                            </h3>
                            
                            <div>
                                <button th:unless="${#maps.isEmpty(sellerResponseListMap)}" id="selectCartAll" class="btn btn-primary">전체 선택</button>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${message}">
                            <span class="mt-3" th:text="${message}"></span>
                            <!-- <form action="/me/update" method="post">
                                </br> -->
                                <button type="button" id="goToUserUpdate" onclick="goToUserUpdate()" class="btn btn-primary">개인정보 입력하러 가기</button>
                            <!-- </form> -->
                        </div>

                        <div class="container text-center" th:if="${#maps.isEmpty(sellerResponseListMap)}">
                            <h3>장바구니가 비어있습니다</h3>
                            <a class="text-dark" th:href="@{/}"><i class="fas fa-home fa-4x"></i></a>
                        </div>
                        <th:block th:each="map : ${sellerResponseListMap}" th:with="seller = ${map.key}">
                            <!-- 판매자 정보 -->
                            <span th:text="${seller.companyName}"></span>
                            <span class="badge bg-primary rounded-pill">
                                <span th:text="${seller.itemTotalQuantityPerSeller}" th:id="'sellerTotalQuantity' + ${seller.sellerId}"></span>
                            </span>
                            <span th:if="${seller.shippingFeeFreePolicy != null}" th:inline="text">
                                [[${#numbers.formatDecimal(seller.shippingFeeFreePolicy, 0, 'DEFAULT', 0, 'DEFAULT')}]] 이상 구매시 배송비 무료
                            </span>

                            <!-- 판매자 기준 아이템 목록  -->
                            <div class="card rounded-3 mb-2" th:each="item : ${sellerResponseListMap.get(seller)}" th:id="'cart' + ${item.cartId}">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">

                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <input class="form-check-input isSelected" name="isSelected" type="checkbox" value=""
                                                   th:id="'isSelected' + ${item.cartId}" th:onchange="|cartManipulation('${item.cartId}');|" th:checked="${item.isSelected}">

                                            <a th:href="@{'/item/details/' + ${item.itemId}}" class="text-reset text-decoration-none">
                                            <img class="bd-placeholder-img card-img-top" width="100%" height="100"
                                                 th:src="'data:image/jpeg;base64,'+${item.image}"
                                                 alt="..."/>
                                            </a>
                                                 
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <a th:href="@{'/item/details/' + ${item.itemId}}"
                                                class="text-reset text-decoration-none">
                                                <p class="lead fw-normal mb-2" th:text="${item.name}">이름</p>
                                            
                                            <input type="hidden" th:value="${item.optionId}">
                                            <p><span class="text-muted">옵션1: </span>
                                                <span th:text="${item.option1}"></span>
                                                <span class="text-muted">옵션2:</span>
                                                <span th:text="${item.option2}"></span>
                                            </p>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <h5 class="mb-0" th:id="'eachPrice' + ${item.itemId}"
                                                th:text="${#numbers.formatDecimal(item.priceNow, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                                개당 가격</h5>
                                            <h5>원 </h5>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <a class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown();this.parentNode.querySelector('input[type=number]').dispatchEvent(new Event('change'))">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                            <input th:id="'quantity' + ${item.cartId}" min="1" name="quantity"
                                                th:value="${item.quantity}" type="number"
                                                class="form-control form-control-sm" th:onchange="|cartManipulation('${item.cartId}');|"/>
                                            <a class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp();this.parentNode.querySelector('input[type=number]').dispatchEvent(new Event('change'))">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <h5 class="mb-0" th:id="'multipliedPrice' + ${item.cartId}"
                                                th:text="${#numbers.formatDecimal(item.priceNow * item.quantity, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                                합산 가격</h5>
                                            <h5>원 </h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                            <a href="#!" th:id="'deleteButton' + ${item.itemId}"
                                                th:onclick="|deleteItem('${item.cartId}');|" class="text-danger"><i
                                                    class="fas fa-trash fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 판매자 기준 상품 가격 및 배송비 -->
                            <div class="card mb-4">
                                <div class="card-body p-4 d-flex flex-row">
                                    <div class="col-1">
                                    </div>
                                    <div class="col-3">
                                        <h5>상품가격 <br>
                                            <span th:id="'itemTotalPricePerSeller' + ${seller.sellerId}" th:text="${#numbers.formatDecimal(seller.itemTotalPricePerSeller, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                            원</h5>
                                    </div>
                                    <div class="col-1">
                                        <h4><i class="fas fa-plus"></i></h4>
                                    </div>
                                    <div class="col-2">
                                        <h5>배송비 <br> <span th:id="'shippingFee' + ${seller.sellerId}" th:text="${#numbers.formatDecimal(seller.shippingFee, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                            원
                                        </h5>
                                    </div>
                                    <div class="col-1">
                                        <h4><i class="fas fa-equals"></i></h4>
                                    </div>
                                    <div class="col-3">
                                        <h5>총 가격 <br> <span th:id="'itemTotalPricePerSellerWithShippingFee' + ${seller.sellerId}" th:text="${#numbers.formatDecimal(seller.itemTotalPricePerSeller + seller.shippingFee, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                            원
                                        </h5>
                                            
                                    </div>
                                </div>
                            </div>

                        </th:block>

                        <!-- 선택 상품 총합 -->
                        <span>선택 상품</span>
                        <span class="badge bg-primary rounded-pill">
                            <span th:id="cartTotalQuantity"></span>
                        </span>
                        <div class="card mb-4">
                            <div class="card-body p-4 d-flex flex-row">
                                <div class="col-1">
                                </div>
                                <div class="col-3">
                                    <h4>상품가격 <br> <span id="cartTotalPrice">1</span>
                                        원</h4>
                                </div>
                                <div class="col-1">
                                    <h4><i class="fas fa-plus"></i></h4>
                                </div>
                                <div class="col-2">
                                    <h4>배송비 <br> <span id="cartTotalShippingFee">1</span> 
                                        원</h4>
                                </div>
                                <div class="col-1">
                                    <h4><i class="fas fa-equals"></i></h4>
                                </div>
                                <div class="col-3">
                                    <h4>총 가격 <br> <span id="cartTotalPriceWithShippingFee">1</span>
                                        원</h4>
                                        <!-- <span class="text-primary" id="totalPrice"
                                            th:text="${#numbers.formatDecimal(totalPrice, 0, 'DEFAULT', 0, 'DEFAULT')}">
                                        </span> 원</h4> -->
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                    <a type="button" th:href="@{/order/process}"
                                    class="btn btn-warning btn-block btn-lg" id="checkOut">주문하기</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script>

            function goToUserUpdate() {
                let agreeCheck = '[[${user.getAgree().getIsMandatoryAgree()}]]';
                if (!agreeCheck) {
                    window.location.replace(baseUrl + 'me/privacy');
                } else {
                    window.location.replace(baseUrl + 'me/update');
                }
            }


            window.addEventListener('load', () => {
                selectCartCheck();

                const onSuccess = res => {
                    res.json()
                        .then(data => {

                            cartTotalPrice = data.cartTotalPrice;
                            document.getElementById('cartTotalPrice').textContent = cartTotalPrice.toLocaleString();
                            cartTotalShippingFee = data.cartTotalShippingFee;
                            document.getElementById('cartTotalShippingFee').textContent = cartTotalShippingFee.toLocaleString();
                            document.getElementById('cartTotalPriceWithShippingFee').textContent = 
                            (parseInt(cartTotalPrice) + parseInt(cartTotalShippingFee)).toLocaleString();
                            cartTotalQuantity = data.cartTotalQuantity;
                            document.getElementById('cartTotalQuantity').textContent = cartTotalQuantity.toLocaleString();

                        });
                }
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                }

                fetch(`/api/v1/cart/item/total`)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });

            })

            function selectCartCheck() {
                let booleanArray = document.getElementsByClassName('isSelected');
                let isAllSelected = true;
                for (let i = 0; i < booleanArray.length; i++) {
                    if (!booleanArray[i].checked) {
                        isAllSelected = false;
                        break;
                    }
                }
                if (isAllSelected) {
                    document.getElementById('selectCartAll').textContent = '전체 선택 해제';
                } else {
                    document.getElementById('selectCartAll').textContent = '전체 선택';
                }
            }

            document.getElementById('selectCartAll').addEventListener('click', () => {


                const onSuccess = res => {
                    res.json()
                        .then(data => {
                            let cartPricePerSellerResponseArray = data.cartPricePerSellerResponses;
                            for (let i = 0; i < cartPricePerSellerResponseArray.length; i++) {
                                let itemPerSeller = cartPricePerSellerResponseArray[i];

                                let sellerId = itemPerSeller.sellerId;

                                itemTotalPricePerSeller = itemPerSeller.itemTotalPricePerSeller;
                                document.getElementById('itemTotalPricePerSeller' + sellerId).textContent = itemTotalPricePerSeller.toLocaleString();
                                itemShippingFeePerSeller = itemPerSeller.itemShippingFeePerSeller;
                                document.getElementById('shippingFee' + sellerId).textContent = itemShippingFeePerSeller.toLocaleString();
                                document.getElementById('itemTotalPricePerSellerWithShippingFee' + sellerId).textContent = 
                                (parseInt(itemTotalPricePerSeller) + parseInt(itemShippingFeePerSeller)).toLocaleString();
                                sellerTotalQuantity = itemPerSeller.itemTotalQuantityPerSeller;
                                document.getElementById('sellerTotalQuantity' + sellerId).textContent = sellerTotalQuantity.toLocaleString();
                            }

                            cartTotalPrice = data.cartPriceTotalResponse.cartTotalPrice;
                            document.getElementById('cartTotalPrice').textContent = cartTotalPrice.toLocaleString();
                            cartTotalShippingFee = data.cartPriceTotalResponse.cartTotalShippingFee;
                            document.getElementById('cartTotalShippingFee').textContent = cartTotalShippingFee.toLocaleString();
                            document.getElementById('cartTotalPriceWithShippingFee').textContent = 
                            (parseInt(cartTotalPrice) + parseInt(cartTotalShippingFee)).toLocaleString();
                            cartTotalQuantity = data.cartPriceTotalResponse.cartTotalQuantity;
                            document.getElementById('cartTotalQuantity').textContent = cartTotalQuantity.toLocaleString();

                            if (document.getElementById('selectCartAll').textContent == '전체 선택') {
                                document.getElementById('selectCartAll').textContent = '전체 선택 해제';
                                let booleanArray = document.getElementsByClassName('isSelected');
                                    for (let i = 0; i < booleanArray.length; i++) {
                                        booleanArray[i].checked = true;
                                    }
                            } else {
                                document.getElementById('selectCartAll').textContent = '전체 선택';
                                let booleanArray = document.getElementsByClassName('isSelected');
                                    for (let i = 0; i < booleanArray.length; i++) {
                                        booleanArray[i].checked = false;
                                    }
                            }
                        });
                }
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                }

                if (document.getElementById('selectCartAll').textContent == '전체 선택') {
                    fetch(`/api/v1/cart/select/` + 'true')
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
                } else {
                    fetch(`/api/v1/cart/select/` + 'false')
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
                }
                console.log(response);
            })
            
            function cartManipulation(cartId) {

                const cartQuantity = document.getElementById('quantity' + cartId).value;
                const isSelected = document.getElementById('isSelected' + cartId).checked;

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        cartId,
                        cartQuantity,
                        isSelected,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };

                const onSuccess = res => {
                    res.json()
                        .then(data => {
                            document.getElementById('multipliedPrice' + cartId).textContent = data.cartManipulatedPrice.toLocaleString();
                            let sellerId = data.cartPricePerSellerResponse.sellerId;

                            itemTotalPricePerSeller = data.cartPricePerSellerResponse.itemTotalPricePerSeller;
                            document.getElementById('itemTotalPricePerSeller' + sellerId).textContent = itemTotalPricePerSeller.toLocaleString();
                            itemShippingFeePerSeller = data.cartPricePerSellerResponse.itemShippingFeePerSeller;
                            document.getElementById('shippingFee' + sellerId).textContent = itemShippingFeePerSeller.toLocaleString();
                            document.getElementById('itemTotalPricePerSellerWithShippingFee' + sellerId).textContent = 
                            (parseInt(itemTotalPricePerSeller) + parseInt(itemShippingFeePerSeller)).toLocaleString();
                            sellerTotalQuantity = data.cartPricePerSellerResponse.itemTotalQuantityPerSeller;
                            document.getElementById('sellerTotalQuantity' + sellerId).textContent = sellerTotalQuantity.toLocaleString();


                            cartTotalPrice = data.cartPriceTotalResponse.cartTotalPrice;
                            document.getElementById('cartTotalPrice').textContent = cartTotalPrice.toLocaleString();
                            cartTotalShippingFee = data.cartPriceTotalResponse.cartTotalShippingFee;
                            document.getElementById('cartTotalShippingFee').textContent = cartTotalShippingFee.toLocaleString();
                            document.getElementById('cartTotalPriceWithShippingFee').textContent = 
                            (parseInt(cartTotalPrice) + parseInt(cartTotalShippingFee)).toLocaleString();
                            cartTotalQuantity = data.cartPriceTotalResponse.cartTotalQuantity;
                            document.getElementById('cartTotalQuantity').textContent = cartTotalQuantity.toLocaleString();

                        });
                }
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                }

                fetch(`/api/v1/cart/item/price` , data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
            }

            document.getElementById('checkOut').addEventListener('click', (e) => {
                if (document.getElementById('cartTotalQuantity').textContent == 0) {
                    alert('선택된 상품이 없습니다')
                    e.preventDefault();
                }
            })

            function deleteItem(cartId) {

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        cartId,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                const onSuccess = res => {
                    res.json()
                        .then(data => {
                            let sellerId = data.cartPricePerSellerResponse.sellerId;

                            itemTotalPricePerSeller = data.cartPricePerSellerResponse.itemTotalPricePerSeller;
                            document.getElementById('itemTotalPricePerSeller' + sellerId).textContent = itemTotalPricePerSeller.toLocaleString();
                            itemShippingFeePerSeller = data.cartPricePerSellerResponse.itemShippingFeePerSeller;
                            document.getElementById('shippingFee' + sellerId).textContent = itemShippingFeePerSeller.toLocaleString();
                            document.getElementById('itemTotalPricePerSellerWithShippingFee' + sellerId).textContent = 
                            (parseInt(itemTotalPricePerSeller) + parseInt(itemShippingFeePerSeller)).toLocaleString();
                            sellerTotalQuantity = data.cartPricePerSellerResponse.itemTotalQuantityPerSeller;
                            document.getElementById('sellerTotalQuantity' + sellerId).textContent = sellerTotalQuantity.toLocaleString();


                            cartTotalPrice = data.cartPriceTotalResponse.cartTotalPrice;
                            document.getElementById('cartTotalPrice').textContent = cartTotalPrice.toLocaleString();
                            cartTotalShippingFee = data.cartPriceTotalResponse.cartTotalShippingFee;
                            document.getElementById('cartTotalShippingFee').textContent = cartTotalShippingFee.toLocaleString();
                            document.getElementById('cartTotalPriceWithShippingFee').textContent = 
                            (parseInt(cartTotalPrice) + parseInt(cartTotalShippingFee)).toLocaleString();
                            cartTotalQuantity = data.cartPriceTotalResponse.cartTotalQuantity;
                            document.getElementById('cartTotalQuantity').textContent = cartTotalQuantity.toLocaleString();
                            document.getElementById('cart' + cartId).remove();
                            alert('상품이 삭제되었습니다');
                        });
                }
                const onFailure = res => {
                    return res.json().then(json => alert(json.message));
                }

                fetch(`/api/v1/cart/delete`, data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
            }        
        </script>
    </div>
    <!--End of Content-->
</body>

</html>