<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h1>마이 페이지</h1>
    </div>
    <div th:replace="fragments/me-list :: me-list">
        <!--본문 들어갈 곳-->
        <div class="container position-relative">
            <span th:text="${#authentication.principal.user.email}"></span>
            <span th:text="${#authentication.principal.user.password}"></span>
        </div>
    </div>
</div>
</body>
</html>