<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:replace="me/me-navbar :: me-navbar"></div>
        <br>
        <!--본문 들어갈 곳-->
        <div class="container position-relative">
            <div th:if="${user.getAgree()?.getIsMandatoryAgree() == null}" class="card col-6 justify-content-center">
                <div class="card-body">
                    <div>
                        <form action="/me/privacy" method="get">
                            <h6 th:text="${user.getEmail() + '회원님은 아직 개인정보를 입력하지 않으셨습니다. 개인정보를 입력하시고 더 많은 혜택을 누려보세요'}"></h6>
                            <br>
                            <button type="submit" class="btn btn-success">개인정보 입력하러 가기</button>
                        </form>
                    </div>
                </div>
            </div>

            <br>
            <div>
                <h5 th:if="${user.getName().getFirst() != null}"
                    th:text="${user.getName().getFullName() + ' 님 안녕하세요!'}"></h5>
                <h5 th:if="${user.getName().getFirst() == null}" th:text="${user.getEmail() + ' 님 안녕하세요!'}"></h5>
            </div>

            <br>
            <label for="recentOrders">최근 주문 내역</label>
            <span class="text-center" th:if="${#lists.isEmpty(orders)}">
                <h5>최근 주문 내역이 없습니다</h5>
            </span>
            <table class="table" id="recentOrders">
                <thead>
                <tr>
                    <th scope="col">주문날짜</th>
                    <th scope="col"></th>
                    <th scope="col">주문내역</th>
                    <th scope="col">배송상태</th>
                    <th scope="col">주문번호</th>
                    <th scope="col">결제금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" style="cursor:pointer;" th:onclick="|goToOrderDetail('${order.id}');|">
                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}">주문날짜</td>
                    <td style="width: 6rem;"><img class="bd-placeholder-img card-img-top img-fluid" width="100%"
                                                  height="100%"
                                                  th:src="'data:image/jpeg;base64,'+${order.mainImage}" alt="..."/></td>
                    <td th:text="${order.name}">주문내역</td>
                    <td th:text="${order.deliveryStatus}">배송상태</td>
                    <td th:text="${order.merchantUid}">주문번호</td>
                    <td th:text="${#numbers.formatDecimal(order.amount, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">결제금액</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function goToOrderDetail(id) {
            window.location.href="/me/order/detail/" + id;
        }


    </script>
</div>
</body>
</html>