<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div>
        <h1>마이 페이지</h1>
    </div>
<!--    <div th:replace="fragments/me-list :: me-list">-->
        <!--본문 들어갈 곳-->
        <div class="container position-relative">
            <div>
                <span th:text="${user.getEmail() + '님 안녕하세요'}"></span>
            </div>
            <div th:if="${user.getAgree()?.getIsMandatoryAgree() == null}">
                <form action="/me/privacy" method="post">
                <h5 th:text="${user.getEmail() + '회원님은 아직 개인정보를 입력하지 않으셨습니다. 개인정보를 입력하시고 더 많은 혜택을 누려보세요'}"></h5>
                     </br>
                <button type="submit" class="btn btn-primary">개인정보 입력하러 가기</button>
                </form>
            </div>

            <a type="button" href="me/update" class="btn btn-primary mt-3">개인정보 수정</a>

            <a type="button" href="me/zzim" class="btn btn-primary mt-3">찜목록</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">주문조회</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">취소/교환/반품 내역</a>

            <a type="button" href="me/update" class="btn btn-primary mt-3">나의 리뷰</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>