<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>주문조회</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div th:replace="me/me-navbar :: me-navbar"></div>
        <br>
        <!--본문 들어갈 곳-->
        <div class="container position-relative">

            <br>
            <label for="reviewWritten">내가 작성한 리뷰 목록</label>
            <span class="text-center" th:if="${#lists.isEmpty(reviews)}">
                아직 작성한 리뷰가 없습니다
            </span>

            <table class="table" id="reviewWritten">
                <thead>
                <tr>
                    <th scope="col">리뷰 작성일</th>
                    <th scope="col"></th>
                    <th scope="col">상품명</th>
                    <th scope="col">내용/내가 올린 사진</th>
                    <th scope="col">나의 평가</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review : ${reviews}" >
                    <td th:text="${#temporals.format(review.reviewWrittenDate, 'yyyy-MM-dd HH:mm')}">주문날짜</td>
                    <td style="cursor:pointer;" th:onclick="goToItem([[${review.itemId}]])">
                        <div style="width: 5rem;">
                            <img class="bd-placeholder-img card-img-top img-fluid" width="100%" height="100%"
                                 th:src="'data:image/jpeg;base64,'+${review.itemImage}" alt="..."/>
                        </div>
                    </td>
                    <td th:text="${review.itemName}" style="cursor:pointer;" th:onclick="goToItem([[${review.itemId}]])">상품명</td>

                    <td>
                        <div th:text="${review.text}"></div>
                        <div style="width: 5rem;">
                            <div  th:each="reviewImage : ${review.reviewImages}" >
                                <img class="bd-placeholder-img card-img-top img-fluid" width="100%" height="100%"
                                     th:src="'data:image/jpeg;base64,'+${reviewImage}" alt="..."/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="fa fa-star text-warning" th:each="star : ${#numbers.sequence(1, review.star)}"></span><span th:if="${review.star != 5}" class="fa fa-star" th:each="star : ${#numbers.sequence(1, 5 - review.star)}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <br>
            <label for="reviewAvailable">리뷰 가능한 구매 목록</label>
            <span class="text-center" th:if="${#lists.isEmpty(reviews)}">
                리뷰 가능한 상품이 없습니다
            </span>
            <table class="table" id="reviewAvailable">
                <thead>
                <tr>
                    <th scope="col">주문날짜</th>
                    <th scope="col"></th>
                    <th scope="col">주문내역</th>
                    <th scope="col">배송상태</th>
                    <th scope="col">주문번호</th>
                    <th scope="col">결제금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" style="cursor:pointer;" th:onclick="|goToOrderDetail('${order.id}');|">
                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}">주문날짜</td>
                    <td style="width: 6rem;"><img class="bd-placeholder-img card-img-top img-fluid" width="100%"
                                                  height="100%"
                                                  th:src="'data:image/jpeg;base64,'+${order.mainImage}" alt="..."/></td>
                    <td th:text="${order.name}">주문내역</td>
                    <td th:text="${order.deliveryStatus}">배송상태</td>
                    <td th:text="${order.merchantUid}">주문번호</td>
                    <td th:text="${#numbers.formatDecimal(order.amount, 0, 'DEFAULT', 0, 'DEFAULT')} + ' 원'">결제금액</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function goToItem(id) {
            window.location.href="/item/details/" + id;
        }


    </script>
</div>
</body>
</html>