<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/layout.html}">

<head>
    <title>개인정보 수정</title>
    <link href="../css/form-validation.css" rel="stylesheet">

</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div th:replace="me/me-navbar :: me-navbar"></div>

            <div>
                <h3>개인 정보 수정</h3>
                <h3 class="text-danger">해당 사이트에서는 데이터를 수집하고 있습니다 <br> 절대 개인 정보를 입력하지 말아주세요</h3>
            </div>

            <div class="col-md-7 col-lg-8 mt-5">
                <form class="needs-validation" novalidate>
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" class="form-control" id="email" th:value="${user?.getEmail()}" disabled>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <label for="password" class="form-label">비밀번호</label>
                                    <input type="password" class="form-control"  placeholder="********"
                                        disabled>
                                        <input id="password" th:value="${#session.getAttribute('password')}" type="hidden">
                                </div>
                                <div class="col-4 position-relative fixed-bottom">
                                    <a class="btn btn-primary" id="passwordChangeButton"type="button">비밀번호 변경하기</a>
                                </div>
                                <div class="card d-none" id="passwordChangeForm">
                                    <div class="card-body">
                                        <form>
                                        </br>
                                            <input id="passwordNow" type="password" class="form-control mb-4"  placeholder="현재 비밀번호">
                                            <input id="passwordAfter" type="password" class="form-control mb-1"  placeholder="바꿀 비밀번호">
                                            <input id="repeatPasswordAfter" type="password" class="form-control mb-3"  placeholder="비밀번호 확인">
                                            <a class="btn btn-primary" id="passwordChangeAction" type="button">비밀번호 변경 완료</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">성</label>
                            <input type="text" class="form-control" id="lastName" placeholder="홍" value=""
                                th:value="${user.getName().getLast()}" required>
                            <div class="invalid-feedback">
                                성을 적어주세요
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">이름</label>
                            <input type="text" class="form-control" id="firstName" placeholder="길동" value=""
                                th:value="${user.getName().getFirst()}" required>
                            <div class="invalid-feedback">
                                이름을 적어주세요
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="col-md-6">
                            <label for="zipcode" class="form-label">우편번호</label>
                            <input type="text" class="form-control" id="zipcode" placeholder="우편번호" readonly
                                th:value="${user.getAddress().getZipcode()}" required>
                            <div class="invalid-feedback">
                                우편번호를 입력해주세요
                            </div>
                        </div>
                        <div class="col-4 position-relative">
                            <a class="btn btn-primary" onclick="getAddressApi()" type="button">주소 검색</a>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">주소</label>
                            <input type="text" class="form-control" id="address" placeholder="도로명 주소"
                                th:value="${user.getAddress().getAddress()}" readonly required>
                            <div class="invalid-feedback">
                                도로명 주소를 입력해주세요
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="detailAddress" class="form-label">상세 주소 <strong class="text-info">(필수)</strong></label>
                            <input type="text" class="form-control" id="detailAddress" placeholder="상세 주소"
                                th:value="${user.getAddress().getDetailAddress()}" required>
                            <div class="invalid-feedback">
                                상세 주소를 입력해주세요
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="extraAddress" class="form-label">참고항목</label>
                            <input type="text" class="form-control" id="extraAddress"
                                th:value="${#objects.nullSafe(user.getAddress().getExtraAddress(),'')}" readonly>
                        </div>
                    </div>

                    <div class="form-check mt-5">
                        <input type="checkbox" class="form-check-input" id="mainAddress">
                        <label class="form-check-label" for="mainAddress">나의 대표 주소로 설정합니다</label>
                    </div>

                    <hr class="my-4">

                    <div class="row g-3">
                        <div class="col-6">
                            <label for="phoneNumber" class="form-label">휴대폰 번호</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="010(-)1234(-)5678"
                                   th:value="${#objects.nullSafe(user.getPhoneNumber().getFullNumber(),'')}" required>
                            <div class="invalid-feedback">
                                휴대폰 번호를 입력해주세요
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary" onclick="" id="phoneNumberDuplicationCheck" type="button">번호 인증</button>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row g-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                개인정보 제공 동의 완료 <strong>(필수)</strong>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isMarketingAgree" th:checked="${#session.getAttribute('isMarketingAgree') == null ? user.getAgree().getIsMarketingAgree() : #session.getAttribute('isMarketingAgree')}">
                            <label class="form-check-label" for="isMarketingAgree">
                                광고성 개인 정보 수집 동의 여부 (선택)
                            </label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button id="validationCheck" class="w-100 btn btn-primary btn-lg" type="submit">개인정보 입력 완료</button>
                </form>

            </div>
        </div>
        <script src="../js/form-validation.js"></script>
        <script th:src="@{/js/get_address_api.js}"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            
            window.addEventListener('load', (e) => {
                const validationCheck = document.getElementById('validationCheck');

                validationCheck.addEventListener('click', (e) => {
                    e.preventDefault();

                    let password = document.getElementById('password').value;
                    let firstName = document.getElementById('firstName').value;
                    let lastName = document.getElementById('lastName').value;
                    let zipcode = document.getElementById('zipcode').value;
                    let address = document.getElementById('address').value;
                    let detailAddress = document.getElementById('detailAddress').value;
                    let extraAddress = document.getElementById('extraAddress').value;
                    let phoneNumber = document.getElementById('phoneNumber').value;
                    let isMarketingAgree = document.getElementById('isMarketingAgree').checked;


                    let data = {
                        method: 'POST',
                        body: JSON.stringify({
                            password,
                            firstName,
                            lastName,
                            zipcode,
                            address,
                            detailAddress,
                            extraAddress,
                            phoneNumber,
                            isMarketingAgree
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    };

                    const onSuccess = res => {
                        res.text()
                            .then(() =>
                                alert('변경되었습니다'));
                    }
                    const onFailure = res => {
                        return res.json().then(json => alert(json.message));
                    }

                    fetch(`/api/v1/privacy/update`, data)
                        .then(res => {
                            if (!res.ok) {
                                throw res;
                            }
                            return res
                        })
                        .then(onSuccess, onFailure)
                        .catch(err => {
                            alert(err.message);
                        });
                })
            })
            phoneNumberDuplicationCheck.addEventListener('click', (e) => {
                e.preventDefault();

                let phoneNumber = document.getElementById('phoneNumber').value;

                let data = {
                    method: 'POST',
                    body: JSON.stringify({
                        phoneNumber,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                };

                const onSuccess = res => {
                    alert('해당 번호로 가입하실 수 있습니다');
                }
                const onFailure = res => {
                    return res.json()
                    .then(json => alert(json.message));
                }

                fetch(`/api/v1/phone/duplication-check`, data)
                    .then(res => {
                        if (!res.ok) {
                            throw res;
                        }
                        return res
                    })
                    .then(onSuccess, onFailure)
                    .catch(err => {
                        alert(err.message);
                    });
            })


            document.getElementById("passwordChangeAction").addEventListener('click', () => {
                let passwordNow = document.getElementById('passwordNow').value;
                let passwordAfter = document.getElementById('passwordAfter').value;
                let repeatPasswordAfter = document.getElementById('repeatPasswordAfter').value;

                let data = {
                        method: 'POST',
                        body: JSON.stringify({
                            passwordNow,
                            passwordAfter,
                            repeatPasswordAfter
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    };

                    const onSuccess = res => {
                        res.text()
                            .then(() =>
                                alert('비밀번호가 변경되었습니다'));
                                togglePasswordChange();
                                document.getElementById('passwordNow').value = '';
                                document.getElementById('passwordAfter').value = '';
                                document.getElementById('repeatPasswordAfter').value = '';
                    }
                    const onFailure = res => {
                        return res.json().then(json => alert(json.message));
                    }

                    fetch(`/api/v1/me/password-update`, data)
                        .then(res => {
                            if (!res.ok) {
                                throw res;
                            }
                            return res
                        })
                        .then(onSuccess, onFailure)
                        .catch(err => {
                            alert(err.message);
                        });
                
            })
            function togglePasswordChange() {
                    document.getElementById("passwordChangeForm").classList.toggle("d-none");
                }
            document.getElementById("passwordChangeButton").addEventListener('click', () => {
                togglePasswordChange();
            })
        </script>

    </div>
</body>

</html>