<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>개인정보 수정</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h1>개인 정보 수정</h1>
    </div>
    <div th:replace="fragments/me-list :: me-list">
        <!--본문 들어갈 곳-->
        <div>
            <span th:text="${#authentication.principal.user.email}"></span>
        </div>
    </div>
</div>
</body>
</html>