<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>찜목록</title>
</head>

<body>

<div layout:fragment="content">
    <main>

        <section class="py-5 text-center container" th:if="${#lists.isEmpty(items)}">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                        <h3>찜 내역이 없습니다</h3>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <th:block th:each="item : ${items}"></th:block>-->
                    <div class="col" th:each="item : ${items}">
                        <div class="card shadow-sm">
                            <a th:href="@{/item/details/{id}(id = ${item.getId()})}" class="text-reset text-decoration-none">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" th:src="'data:image/jpeg;base64,'+${item.image}"
                                      alt="..."/>
                            </a>

                            <div class="card-body">
                                <p class="card-text">
                                    <a th:href="@{/item/details/{id}(id = ${item.id})}" class="text-reset text-decoration-none">
                                        <h5 class="fw-bolder" th:text="${item.getName()}">상품 이름</h5>
                                    </a>
                                </p>
                                <h5 class="fw-bolder" th:text="${item.getPrice()} + ' 원'">상품 가격</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button th:onclick="|addToWishList('${item.id}');|" class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-heart"></i>
                                            <span class="badge bg-primary rounded-pill"><span th:id="'zzim' + ${item.id}" th:text="${#objects.nullSafe(item.zzim,'0')}"></span></span>

                                        </button>
                                        <a href="/order/now" class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-shopping-cart"></i> 바로구매
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script type="text/javascript" th:src="@{/js/add_to_wish_list.js}"></script>
<!--    <script th:src="@{/js/buy_now.js}"></script>-->
</div>
</body>
</html>
