<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">쇼핑몰</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin}" href="#">예비 어드민</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cs}" href="#">고객센터</a></li>

                <div sec:authorize="!isAuthenticated()">
                <li class="nav-item"><a class="nav-link" th:href="@{/auth/login}" href="#">로그인</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">로그아웃</a></li>
                </div>
                <div sec:authorize="!isAuthenticated()">
                <li class="nav-item"><a class="nav-link" th:href="@{/auth/signup}" href="#">회원가입</a></li>
                </div>
                <!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#!">All Products</a></li>-->
<!--                        <li><hr class="dropdown-divider" /></li>-->
<!--                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>

                <a th:href="@{/me}" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    My Page
                </a>
                <a th:href="@{/me/cart}" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </a>

        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" >-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/">쇼핑몰</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" th:href="@{/me/cart}" aria-current="page" href="#">장바구니</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/me}" href="#">마이 페이지</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/admin">예비 어드민</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/cs">고객센터</a>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        Dropdown&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" href="#">Action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--            </ul>-->
<!--            <form class="d-flex">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

</body>
</html>