<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link href="../navbar-top.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">쇼핑몰</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" role="tablist">
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item" data-bs-toggle="tab" role="tab">
                            <a class="nav-link" th:href="@{/auth/login}" href="#">로그인</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">로그아웃</a></li>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item" data-bs-toggle="tab" role="tab">
                            <a class="nav-link" th:href="@{/auth/signup}" href="#">회원가입</a>
                        </li>
                    </div>
                    <li class="nav-item" data-bs-toggle="tab" role="tab">
                        <a th:classappend="${#request.requestURI.startsWith('/me') ? 'active':''}" id="my-page"
                            class="nav-link" th:href="@{/me}" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="tab" role="tab">
                        <a th:classappend="${#request.requestURI.startsWith('/cart') ? 'active':''}" class="nav-link"
                            th:href="@{/cart}" href="#">장바구니
                            <span class="badge bg-primary rounded-pill"><span sec:authorize="isAuthenticated()"
                                    id="cartAmount">0</span></span>
                        </a>
                    </li>
                    <div th:if="${#authorization.expression('hasRole(''SELLER'')')}">
                        <li class="nav-item">
                            <a th:classappend="${#request.requestURI.startsWith('/seller') ? 'active':''}"
                                class="nav-link" th:href="@{/seller}" href="#">판매자</a>
                        </li>
                    </div>
                    <div th:unless="${#authorization.expression('hasRole(''SELLER'')')}">
                        <li class="nav-item">
                            <a th:classappend="${#request.requestURI.startsWith('/seller') ? 'active':''}"
                               class="nav-link" th:href="@{/seller/start}" href="#">판매자 가입</a>
                        </li>
                    </div>
                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <li class="nav-item">
                            <a th:classappend="${#request.requestURI.startsWith('/admin') ? 'active':''}"
                                class="nav-link" th:href="@{/admin}" href="#">어드민</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item text-white">
                            아이디: <span class="text-white" sec:authentication="name"></span>
                        </li>
<!--                        데모용 -->
                        <li class="nav-item text-white">
                            비밀번호: <span class="text-white" th:text="${#session.getAttribute('demo')}"></span>
                        </li>
                    </div>
                </ul>
                <div class="dropdown">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell text-white"></i>
                        <span class="badge bg-primary rounded-pill">0</span>
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
 
                <form th:action="@{/search}" class="d-flex" role="search" method="get">
                    <input name="q" th:value="${result}" id="keywordQuery" class="form-control me-2" type="search"
                        placeholder="상품 검색" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</body>

</html>