<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link href="../navbar-top.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">쇼핑몰</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" role="tablist">
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item" data-toggle="tab" role="tab">
                            <a class="nav-link" th:href="@{/auth/login}" href="#">로그인</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">로그아웃</a></li>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item" data-toggle="tab" role="tab">
                            <a class="nav-link" th:href="@{/auth/signup}" href="#">회원가입</a>
                        </li>
                    </div>
                    <li class="nav-item" data-toggle="tab" role="tab">
                        <a id="my-page" class="nav-link" th:href="@{/me}" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item" data-toggle="tab" role="tab">
                        <a class="nav-link" th:href="@{/cart}" href="#">장바구니
                            <span class="badge bg-primary rounded-pill"><span sec:authorize="isAuthenticated()" id="cartAmount">0</span></span>
                        </a>
                    </li>
                    <div sec:authorize="hasRole('SELLER')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/seller}" href="#">판매자</a>
                        </li>
                    </div>
                    <div sec:authorize="hasAnyRole('USER', 'SELLER')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/seller/start}" href="#">판매자 가입</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item"><a class="nav-link" th:href="@{/me/delete}" href="#">회원탈퇴</a></li>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}" href="#">어드민</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}" href="#">임시</a>
                    </li>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <div class="text-white" sec:authentication="principal.authorities"></div>
                        </li>
                    </div>
                </ul>
                <form th:action="@{/search}" class="d-flex" role="search" method="get">
                    <input name="q" th:value="${result}" id="keywordQuery" class="form-control me-2" type="search" placeholder="상품 검색" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i
                            class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</body>

</html>