<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>홈페이지</title>
</head>

<body>

<div layout:fragment="content">
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">쇼핑몰 프로젝트</h1>
                    <p class="lead text-muted">판매량 TOP 10 확인하기</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">확인하러 가기!</a>
                        <a href="#" class="btn btn-secondary my-2">I'M FEELING LUCKY</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div th:replace="fragments/components/itemCard :: itemCard"></div>
            </div>
            <br>
            <th:block th:with="pages = ${items.customPage}">
            <div th:replace="fragments/components/pagination :: pagination"></div>
            </th:block>
        </div>
    </main>
</div>
</body>
</html>
