<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>판매자 상품 조회</title>
</head>

<body>

<div layout:fragment="content">
    <main>
        <div th:replace="seller/seller-navbar :: seller-navbar"></div>

        <section class="py-5 text-center container" th:if="${#lists.isEmpty(items.content)}">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h3>현재 판매 중인 상품이 없습니다</h3>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div th:replace="fragments/itemCard :: itemCard"></div>

            </div>
        </div>

    </main>

    <script th:src="@{/js/add_to_wish_list.js}"></script>
</div>
</body>
</html>
