<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>판매자</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <h1>판매자 홈페이지</h1>

        <a class="btn btn-primary" th:href="@{/seller/write}" href="#" role="button">상품 작성</a>

        <a class="btn btn-primary" th:href="@{/seller/items}" href="#" role="button">상품 목록 보기</a>

        <a class="btn btn-primary" th:href="@{/seller/statistics}" href="#" role="button">최근 주문 확인</a>
    </div>
</div>
</body>
</html>