<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>판매자 글작성</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="needs-validation" novalidate method="post" th:action="@{/seller/write}"
                  th:object="${writeItemRequest}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="item" class="form-label">상품명<strong>(필수)</strong></label>
                    <input th:field="*{name}" type="text" class="form-control" id="item" aria-describedby="itemHelp"
                           required>
                    <div id="itemHelp" class="form-text">상품명을 적어주세요.</div>
                </div>
                <div class="mb-3">
                    <label for="options1" class="form-label">옵션(선택)</label>
                    <select th:name="option1" id="options1" class="form-select" aria-label="optionHelp">
                        <option selected>눌러서 옵션 선택</option>
                        <option value="크기">크기</option>
                        <option value="색깔">색깔</option>
                        <option value="직접 추가">직접 추가</option>
                    </select>
                    <div id="optionHelp" class="form-text">옵션을 적어주세요.</div>
                </div>
                <div class="mb-3">
                    <label for="options2" class="form-label">옵션(선택)</label>
                    <select th:name="option2" id="options2" class="form-select" aria-label="optionHelp">

                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">설명<strong>(필수)</strong></label>
                    <textarea th:field="*{description}" type="text" class="form-control" id="description"
                           aria-describedby="descriptionHelp" required></textarea>
                    <div id="descriptionHelp" class="form-text">설명을 적어주세요.</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">정가<strong>(필수)</strong></label>
                    <input th:field="*{price}" type="number" class="form-control" id="price" aria-describedby="priceHelp"
                           required>
                    <div id="priceHelp" class="form-text">상품의 정가를 적어주세요.</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">할인가</label>
                    <input th:field="*{price}" min="10" type="number" class="form-control" id="salePrice" aria-describedby="salePriceHelp"
                           required>
                    <div id="salePriceHelp" class="form-text">할인된 가격을 적어주세요.(최소 가격 10원)</div>
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">재고<strong>(필수)</strong></label>
                    <input th:field="*{stock}" min="1" max="9999" type="number" class="form-control" id="stock" aria-describedby="stockHelp"
                           required>
                    <div id="stockHelp" class="form-text">재고를 적어주세요.(최대 9999개)</div>
                </div>
                <div class="mb-3">
                    <label for="mainImage" class="form-label">대표 사진을 첨부해주세요<strong>(필수)</strong></label>
                    <input class="form-control" type="file" name="mainImage" accept="image/png, image/jpeg"
                           id="mainImage" aria-describedby="imageHelp">
                    <h6 id="imageHelp" class="form-text">750x500(3:2 비율) 크기의 .JPEG, .PNG 확장자만 업로드해주세요.
                    <br>크기는 100KB에서 5MB 사이여야 합니다.</h6>
                    <!--                <input type="file" name="image" accept="image/png, image/jpeg" id="formFileMultiple"/>-->
                </div>
                <div class="mb-3">
                    <label for="descriptionImage" class="form-label">상품에 대한 설명이 들어간 사진들을 첨부해주세요(선택)</label>
                    <input class="form-control" type="file" name="descriptionImage" accept="image/png, image/jpeg"
                           id="descriptionImage" aria-describedby="descriptionImageHelp" multiple>
                    <h6 id="descriptionImageHelp" class="form-text">가로 800픽셀 세로 최대 30,000픽셀. 최대 30MB 이하의 .JPEG, .PNG 확장자만 업로드해주세요.</h6>
                    <!--                <input type="file" name="image" accept="image/png, image/jpeg" id="formFileMultiple"/>-->
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('options1').addEventListener('change', () => {
            let optionDefaults = {
                size: ['90', '95', '100', '105', '110'],
                color: ['노랑', '빨강', '파랑'],
                self: ['직접']
            }

            let options1 = document.getElementById('options1')[document.getElementById('options1')
                            .selectedIndex].text;
            let options2 = document.getElementById('options2');

            switch (options1) {
                case '크기':
                    var option2 = optionDefaults.size;
                    break;
                case '색깔':
                    var option2 = optionDefaults.color;
                    break;
                case '직접 추가':
                    var option2 = optionDefaults.self;
                    break;
            }
            options2.options.length = 0;
            for (let i = 0; i < option2.length; i++) {
                let option = document.createElement('option');
                option.innerText = option2[i];
                options2.append(option);
            }
        })
    </script>


</div>
</body>
</html>